# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/LocalDevnet.s.sol/

# Docs
docs/

# Local devnet outputs
.anvil/
.devnet/

# Dotenv file
.env
